services:

  phorge:
    image: 'dynamist/phorge'
    build:
      context: .
      dockerfile: ./Dockerfile.phorge
    environment:
      - PHORGE_URL=http://phorge.domain.tld
      - PHORGE_ALT_FILE_DOMAIN=http://phorge-files.domain.tld
      - PHORGE_TITLE=RMI
      - PHORGE_ADMIN_USER=admin
      - PHORGE_ADMIN_EMAIL=admin@example.com
      - PHORGE_ADMIN_NAME=Administrator
      - PHORGE_ADMIN_TOKEN=api-supersecr3tapikeyfordevelop1
      - MYSQL_HOST=mariadb
      - MYSQL_PORT=3306
      - MYSQL_USER=root
      - MYSQL_PASS=somerootpassword
    ports:
      - '80:80'
    depends_on:
      - mariadb

  mariadb:
    image: 'mariadb:12'
    environment:
      - MYSQL_ROOT_PASSWORD=somerootpassword
    ports:
      - '3306:3306'
    command:
      - --max-allowed-packet=67108864
      - --innodb-buffer-pool-size=256M
      - --sql-mode=STRICT_ALL_TABLES
      - --local-infile=0
